<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ server }}</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet"> 
</head>
<body>
<!--	<h1>{{ server }}</h1>
	<a href="{% url 'home_stats' %}">back</a> -->
	<div class="sidebar">
		<div class="servers">
			<a href="{% url 'stats_all' %}" class="">All</a>
			<a href="{% url 'stats_arena' %}" class="">Arena</a>
			<a href="{% url 'stats_public' %}" class="">Public</a>
			<a href="{% url 'stats_awp' %}" class="">Awp</a>
		</div>
		<div class="filters">
		<form method="POST" action="">
		{% csrf_token %}
			<h3>Фильтр</h3>
			
			<div><input type="checkbox" name="role" value="simplePlayer"> <p>Обычные игроки</p></div>
			<div><input type="checkbox" name="role" value="mod"> <p>Модераторы</p></div>
			<div><input type="checkbox" name="role" value="admin"> <p>Администраторы</p></div>

			<div class="sort">
			<p>Сортировать по</p>
			<select name="period" id="period">
				<option value="1">Общему времени</option>
				<option value="2">Тому</option>
				<option value="3">Сему</option>
			</select>
			</div>
			<button class="btn-submit" type="submit">Применить фильтр</button>
			</form>
		</div>
		
	</div><div class="container">
		<input class="search" placeholder="Поиск по нику, steamid, группе..."></input>
		<div class="stats">
			<table style="width:100%">
				<tr>
					<th>Никнейм</th>
					<th>steam id</th>
					<th>Роль</th>
					<th>Онлайн общий</th>
					<th>Онлайн за день</th>
					<th>Онлайн за неделю</th>
					<th>Онлайн за месяц</th>
					<th>кол-во сессий</th>
				</tr>
				{% for stat in stats %}
					<tr>
						<th title="{{ stat.names }}"><a href="https://steamcommunity.com/profiles/{{ stat.url }}" target="_blank">{{ stat.name }}</a></th>
						<th>{{ stat.steamid }}</th>
						<th title="{{ stat.flags }}">{{ stat.role }}</th>
						<th>{{ stat.timeAll }}</th>
						<th>{{ stat.timeDay }}{% if not stat.timeDay %}none{% endif %}</th>
						<th>{{ stat.timeWeek }}{% if not stat.timeWeek %}none{% endif %}</th>
						<th>{{ stat.timeMonth }}{% if not stat.timeMonth %}none{% endif %}</th>
						<th>{{ stat.sessions }}</th>
					</tr>
				{% endfor %}
				
				</table> 
		</div>
	</div>
</body>
</html>